<template>
  <router-link class="header-right_action" to="/add-product">ADD</router-link>
  <button
    class="header-right_action"
    id="delete-product"
    @click="deleteProducts()"
  >
    MASS DELETE
  </button>
</template>

<script>
export default {
  methods: {
    async deleteProducts() {
      const response = await this.$store.dispatch("deleteProducts");
      if (response.code == 200) {
        this.$store.dispatch("getProducts");
      }
    },
  },
};
</script>
